 <!-- Telegram Support Button -->
  <a href="https://t.me/TWT_Trustwallet_support" target="_blank" class="fixed bottom-10 right-6 z-50 hover:scale-110 transition-transform duration-200">
    <div class="bg-[#0088cc] p-1 rounded-lg shadow-lg">
      <img src="https://i.postimg.cc/8zGgRPrr/Telegram-Logo.png" alt="Telegram"
      class="w-10 h-10 object-contain" />
    </div>
  </a>